/* ? fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: black;
}

.container {
    background-color: white;
    width: 40%;
    height: fit-content;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.weather-searchBox {
    position: relative;
}

.weather-searchBox i {
    position: absolute;
    top: 7px;
    left: 8px;
    color: white;
}

.search-box {
    border-radius: 10px;
    height: 30px;
    padding: 0 0 0 35px;
    background-color: black;
    color: white;
}

.search-box::placeholder {
    color: white;
    font-family: "Jost", sans-serif;
    font-style: italic;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 10px;
}

.weather-data {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-data .weather-forcast {
    text-align: center;
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.weather-icon {
    height: 125px;
}

.weather-icon img {
    position: relative;
    top: -40px;
    left: 10px;
}


.weather-degree {
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
}


.Weather-info {
    display: grid;
    grid-template-columns: repeat(2, 18rem);
    justify-content: space-evenly;
    gap: 10px;
}

.weather-card {
    border: 1px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding-left: 35px;
    position: relative;
}

.weather-card i {
    position: absolute;
    top: 7px;
    left: 3px;
    font-size: x-large;
}