* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: black;
  color: white;
}

h1 {
  font-size: xx-large;
  margin: 1rem;
}

.input-container {
  margin: 1rem;

  & #input {
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
  }

  & .btn1-style {
    padding: 0.5rem;
    width: 7.9rem;
  }
}

.items-list {

  & li {
    font-size: 2rem;
    position: relative;
    left: -5rem;
    bottom: -1.8rem;
  }

  & .btn2-style {
    position: relative;
    top: -1rem;
    right: -7.9rem;
    width: 7.5rem;
    padding: 0.5rem;
  }

  .btn2-style:hover{
    background-color: blue;
  }
}