* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.box-container {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: black;
}

.stopWatch_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 22, 22);
    width: 30rem;
    height: 50rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem whitesmoke;
}

.stopWatch_number {
    font-size: 10rem;
    color: white;
    margin-bottom: 3rem;
}

.stopWatch_items {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 10rem);
    width: 30rem;
    height: 25rem;
}

.btn {
    height: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(5, 5, 42);
    color: white;
}

#clearTime_btn {
    width: 11rem;
}

.record_info {
    /* display: flex; */
    width: 30rem;
    height: 50rem;
    font-size: 1.7rem;
    color: white;
    background-color: white;
    border-radius: 1rem;
    overflow: scroll;
}

p {
    padding: 0.1rem;
    font-weight: normal;
    margin-left: 3.2rem;
    margin-top: 1.5rem;
    color: black;
}