/** Reseting page  */
* {
    /* This will help you see the boundaries of all elements */
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** 2. Redefine page font  **/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    text-transform: capitalize;
}


/*? root for defining variable for color  */
:root {
    --main-color: black;
    --white-color: white;
    --text-color: rgb(2, 2, 125);
    --button-color: rgb(203, 203, 234);
    --nav-color: rgba(24, 24, 24, 0.778);
    --button-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --nav-boxShadow: rgba(49, 46, 46, 0.35) 0px 5px 15px;
    --box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --box-shadows: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    ;

}

/** starting navbar and  placing logo within a letter  */
header {
    width: 98.5vw;
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(3, 0.33fr);
    box-shadow: var(--box-shadow);
    background-color: var(--white-color);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo .logo-img {
    position: absolute;
    top: -10px;
    left: 65px;
    animation: logo-rotate 1s linear infinite alternate;
}

@keyframes logo-rotate {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

.logo h1 {
    text-transform: capitalize;
}

h1::first-letter {
    letter-spacing: 38px;
}

/** designing navbar  */
.navbar {
    display: flex;
    position: relative;
    justify-content: center;

}

#security {
    justify-content: end;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

ul li {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

li a {
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: var(--nav-color);
    font-weight: bolder;
}

li a:hover {
    scale: 1.1;
    color: var(--main-color);
    font-weight: 400;
}

li a::after {
    content: "";
    border-bottom: 2px solid var(--main-color);
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 0%;
    transition: all 0.5s linear;

}

li a:hover::after {
    width: 100%;
    color: var(--main-color);
}

main {
    height: auto;
    width: 90%;
    margin: auto;
    box-shadow: var(--box-shadows);
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.phone-container h2 {
    position: absolute;
    top: 10px;
    font-size: 50px;
}

.container {
    width: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: container 2s linear infinite;


    & .mobile-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 60px;
    }


    & .sliding-container {
        width: 100%;
        display: flex;
        justify-content: stretch;
        padding: 20px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        position: relative;
        overflow: hidden;
    }

    & h3 {
        padding: 5px;
        height: 50px;
    }

    & pre {
        text-transform: capitalize;
        position: absolute;
        font-size: 16px;
        top: 70px;
        left: 0.2px;
    }

    & .link {
        text-decoration: none;
        border: 1px solid black;
        height: 30px;
        width: 170px;
        text-align: center;
        padding: 5px;
        position: absolute;
        bottom: 10px;
        left: 220px;
        border-radius: 10px;
        color: var(--text-color);
        background-color: var(--button-color);
    }

    .link:hover {
        transform: scale(1.1);
    }
}

@keyframes container {
    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.other-product {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    box-shadow: var(--box-shadow);
    height: 100vh;
    padding: 110px;


}

.other-product h4 {
    position: absolute;
    top: 30px;
    font-size: 50px;
}

.other-product .product-container {
    width: 100%;
    padding: 40px;
    position: relative;

}

.product-container h5 {
    position: absolute;
    top: -15px;
    left: 45%;
    font-size: xx-large;

}

.product-container .watch-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    position: relative;
    margin-bottom: 150px;
}

.watch-container .watches-product {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: scale(1.7);
}


h6 {
    position: absolute;
    bottom: 250px;
    left: 46%;
    text-align: center;
    font-size: xx-large;
}

.product-container .glasses-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    position: relative;
    perspective: 1000px;
}

.glasses-container .glasses-product {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: glasses 2s linear infinite alternate;
    transform: rotateY(180deg);
}


@keyframes glasses {
    from {
        transform: rotate(-10deg);
    }

    to {
        rotate: 10deg;
    }
}

.glasses-product img {
    scale: 1.4;
}

.glasses-product .cool-glasses {
    scale: 2.5;
    filter: contrast(100%) saturate(110%) brightness(100%);

}

.links {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--button-color);

    & a {
        text-decoration: none;
        color: var(--text-color);
    }
}

/** form  */
.section-contact {
    width: 89vw;
    height: 610px;
    margin: auto;
    padding: 40px;
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);

    & .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 50px;
        gap: 20px;
    }



    & .name-email {
        margin-top: 5px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-around;
    }

    & textarea {
        border: 3px solid black;
        height: 300px;
        width: 400px;
        text-align: center;
    }

    & .button {
        width: 400px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .btn-submit {
        width: 168px;
        height: 30px;
        cursor: pointer;
    }

    .btn-submit:hover {
        color: green;
        background-color: var(--button-color);
        font-size: 15px;
    }


}

iframe {
    border-radius: 20px;
}

input {
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}

footer {
    width: 89vw;
    margin: auto;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--main-color);
    color: var(--white-color);
}