* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    /* background-color: transparent; */
    font-size: 200px;
    text-transform: uppercase;
    position: relative;
    background: url(/FrontEnd-Training/images/backgroundI1.jpg) repeat; /* Add your image URL here */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

h1::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "NABIN";
    animation: move 2s linear infinite alternate;
    width: 80%;
    border-right: 1px solid black;
    overflow: hidden;
}

@keyframes move {
    0% {
        width: 0;
        color: black;
        text-shadow: 5px 0px 2px  white;
        
    }
    25% {
        width: 25%;
        color: black;
        text-shadow: 5px 0px 2px  white;
    }
    50% {
        width: 50%;
        color: black;
        text-shadow: 5px 0px 2px  white;
    }
    100% {
        width: 100%;
        color: black;
        text-shadow: 5px 0px 2px  white;
    }
}


