* {
    margin: 0;
    padding: 0;
}

.sky {
    width: 100%;
    height: 788.339px;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 35%, rgba(0, 212, 255, 0) 100%),
    url(../images/sky.jpeg);
    /* background-color: rgb(221, 197, 144); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: sky 10s ease-in-out;
}

@keyframes sky {
    0% {
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 35%, rgba(0, 212, 255, 0) 100%),
        url(../images/sky.jpeg);
        background-color: rgb(221, 197, 144);
    }
    50% {
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, 0.5) 35%, rgba(0, 212, 255, 0.5) 100%),
        url(../images/sky.jpeg);
        background-color: rgb(10, 10, 10);
    }

    75% {
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, 0.5) 35%, rgba(0, 212, 255, 0.5) 100%),
        url(../images/sky.jpeg);
        background-color: rgb(10, 10, 10);
    }
    100% {
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 35%, rgba(0, 212, 255, 0) 100%),
        url(../images/sky.jpeg);
        background-color: rgb(221, 197, 144);
    }

}

.sun {
    position: absolute;
    top: 20px;
    left: 700px;
    width: 100px;
    height: 100px;
    border: 1px double whitesmoke;
    border-radius: 50%;
    background-color:rgba(216, 49, 19, 0.958);
    box-shadow: 0px 0px 30px 8px rgb(239, 86, 9);
    position: relative;
}

.sun::after {
    position: absolute;
    left: 101px;
    content: "";
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation: eclipse 10s ease-in-out;
}

@keyframes eclipse {
    0% {
        transform: translate(0%);
    }
    50% {
        translate: -100%;
        box-shadow: 0px 0px 60px 8px rgb(239, 86, 9);
    }
    75% {
        translate: -100%;
        box-shadow: 0px 0px 60px 8px rgb(239, 86, 9);
    }
    100% {
        translate: -200%;

    }
}

